<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Polygons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Polygons.Properties.PolygonGaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Polygons.PolygonGaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <Polygons.Properties.Settings>
            <setting name="MaximumDistanceMutation" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MaximumAngleMutation" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PolygonVertices" serializeAs="String">
                <value>12</value>
            </setting>
        </Polygons.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Polygons.Properties.PolygonGaSettings>
            <setting name="MaximumDistanceMutation" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MaximumAngleMutation" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PolygonVertices" serializeAs="String">
                <value>12</value>
            </setting>
        </Polygons.Properties.PolygonGaSettings>
        <Polygons.PolygonGaSettings>
            <setting name="MaximumDistanceMutation" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MaximumAngleMutation" serializeAs="String">
                <value>45</value>
            </setting>
        </Polygons.PolygonGaSettings>
    </userSettings>
</configuration>
